In [4]:
import pandas as pd
rain = pd.read_csv("./cliflow_Niwa_Auckland_data/RainDaily.csv")
rain

,Station,Date(NZST),Amount(mm),SofG,Deficit(mm),Runoff(mm),Period(Hrs),Freq
0,3925,20090101:0800,25.0,-,15.5,0.0,24,D
1,3925,20090102:0800,0.2,-,19.6,0.0,24,D
2,3925,20090103:0800,38.4,-,0.0,14.5,24,D
3,3925,20090104:0800,0.6,-,3.7,0.0,24,D
4,3925,20090105:0800,0.0,-,8.1,0.0,24,D
...,...,...,...,...,...,...,...,...
5347,3925,20230823:0900,0.0,-,2.1,0.0,24,D
5348,3925,20230824:0900,0.0,-,3.2,0.0,24,D
5349,3925,20230825:0900,0.0,-,4.2,0.0,24,D
5350,3925,20230826:0900,0.0,-,5.3,0.0,24,D
5351,3925,20230827:0900,1.2,-,5.2,0.0,24,D

In [5]:
rain.set_index("Date(NZST)")
# this will not change the dataset, but creating a new copy

,Station,Amount(mm),SofG,Deficit(mm),Runoff(mm),Period(Hrs),Freq
Date(NZST),,,,,,,
20090101:0800,3925,25.0,-,15.5,0.0,24,D
20090102:0800,3925,0.2,-,19.6,0.0,24,D
20090103:0800,3925,38.4,-,0.0,14.5,24,D
20090104:0800,3925,0.6,-,3.7,0.0,24,D
20090105:0800,3925,0.0,-,8.1,0.0,24,D
...,...,...,...,...,...,...,...
20230823:0900,3925,0.0,-,2.1,0.0,24,D
20230824:0900,3925,0.0,-,3.2,0.0,24,D
20230825:0900,3925,0.0,-,4.2,0.0,24,D
20230826:0900,3925,0.0,-,5.3,0.0,24,D
20230827:0900,3925,1.2,-,5.2,0.0,24,D

In [ ]:
# to replace the dataset can do this
rain.set_index("Date", inplace=True)