In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
rainMtAlbert = pd.read_csv('../data/MtAlbertAuckland/ACC - Rain -Albert Park Acc rainfall_20220818-20230818.csv')
rainMtAlbert.head()

,Timestamp,UTC Offset,Multiple Gauge Rainfall Recency Alarm (on/off),Quality,Rainfall (mm),Quality.1,Rainfall (Accumulated) (mm),Quality.2
0,2022-08-18 00:00:00,12,NaN,No data available,17.0,No quality or non-verified,0.0,Automated Process or Synthetic
1,2022-08-19 00:00:00,12,NaN,No data available,13.5,No quality or non-verified,13.5,Automated Process or Synthetic
2,2022-08-20 00:00:00,12,NaN,No data available,3.5,No quality or non-verified,17.0,Automated Process or Synthetic
3,2022-08-21 00:00:00,12,NaN,No data available,NaN,No data available,17.0,Automated Process or Synthetic
4,2022-08-22 00:00:00,12,NaN,No data available,NaN,No data available,17.0,Automated Process or Synthetic

In [3]:
soilMtAlbert = pd.read_csv('../data/MtAlbertAuckland/ACC - Soil Moisture - Mt Albert Grammar Rain_20220818-20230818.csv')
soilMtAlbert.head()

,Timestamp,UTC Offset,Soil Moisture Content (%V/V),Quality
0,2022-08-18 00:00:00,12,52.2,No quality or non-verified
1,2022-08-19 00:00:00,12,52.4,No quality or non-verified
2,2022-08-20 00:00:00,12,52.3,No quality or non-verified
3,2022-08-21 00:00:00,12,52.1,No quality or non-verified
4,2022-08-22 00:00:00,12,51.8,No quality or non-verified

In [4]:
rain = pd.read_csv('../data/MtAlbertAuckland/DataSetExport-Rainfall.Continuous@648717-Instantaneous-mm-20231021051928.csv')
rain.head()

  Timestamp (UTC+12:00)  Value (mm)
0   1991-10-11 23:32:00        0.00
1   1991-10-11 23:34:00        0.01
2   1991-10-13 11:40:00        0.00
3   1991-10-13 11:42:00        0.01
4   1991-10-13 11:44:00        0.02

In [5]:
temp = pd.read_csv('../data/MtAlbertAuckland/DataSetExport-Soil Temp.Continuous@648717-Instantaneous-degC-20231021051959.csv')
temp.head()

  Timestamp (UTC+12:00)  Value (°C)
0   2015-10-21 10:29:00         0.0
1   2015-10-21 10:30:00        15.0
2   2015-10-21 10:45:00        15.1
3   2015-10-21 11:00:00        15.1
4   2015-10-21 11:15:00        15.1

In [6]:
soil = pd.read_csv('../data/MtAlbertAuckland/DataSetExport-Soil Moisture.Continuous@648717-Instantaneous-%-20231021051856.csv')
soil.head()

  Timestamp (UTC+12:00)  Value (%)
0   2018-07-07 11:15:00     37.364
1   2018-07-07 11:30:00     37.594
2   2018-07-07 11:45:00     37.590
3   2018-07-07 12:00:00     37.587
4   2018-07-07 12:15:00     37.584